@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div>
                <label>Search:</label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>

<table class="table" id="tblBooks">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    initialize();
    function initialize() {
        $.ajax({
            url: 'https://localhost:7002/api/bookstore/books?pageindex=1&pagesize=10&sort=nameasc&search=',
            type: 'GET',
            contentType: 'application/json; charset=UTF-8',
            success: function (response) {
                console.log(response);

                //Try to get tbody first with jquery children. works faster!
                var tbody = $('#tblBooks').children('tbody');

                //Then if no tbody just select your table
                var table = tbody.length ? tbody : $('#tblBooks');
                response.forEach(function (item) {

                    //Add row
                    table.append(`<tr><td>${item.name}</td><td><button class="btn btn-primary">Reserve</button></td></tr>`);
                });

            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>
